
%p.summary We have some things that need new homes. Can you help our little helpers out with a new home? We are moving to Canada and can't take them, if you can pick up any of these from SW18 London in the next week get in touch and they're yours for free.

%ul.contact_details
  %li
    %a{:href=>"mailto:kalv@kalv.co.uk"} kalv@kalv.co.uk
    or
    %a{:href=>"mailto:shaz@shazzyb.com"} shaz@shazzyb.com
  %li
    %a{:href=>"http://twitter.com/#!/kalv"} @kalv
    or
    %a{:href=>"http://twitter.com/#!/shazzystar"} @shazzystar
  %li
    We're on
    %a{:href => "http://www.facebook.com/kalvir"} facebook

%h2 We need a new home:
%ul.items
  %li
    .thumbnail
      %img{:src=>"/images/giveaway1.jpg"}
    .details
      %h3 Delonghi Expresso Machine
      %p
        I came from
        %a{:href => "http://www.delonghi.com/uk_en/products/icona-eco-310bk/"} this home
        and have been making nice expresso shots for the Sandhu's about 2 years now.

  %li
    .thumbnail
      %img{:src=>"/images/giveaway2.jpg"}
    .details
      %h3 Coffee Grinder
      %p
        I spin really fast and love breaking up those pesky coffee beans.
        %a{:href => "http://www.delonghi.com/uk_en/products/kg49/"} My product info page

  %li
    .thumbnail
      %img{:src=>"/images/giveaway5.jpg"}
    .details
      %h3 Coffee Drip Machine
      %p Do you have trouble making coffee for over 5 people, I'm your answer! I can help make a nice brew and keep it warm for ya.

  %li
    .taken
      %h3 I've found a new home
    .thumbnail
      %img{:src=>"/images/giveaway3.jpg"}
    .details
      %h3 a Kettle
      %p I'm shiny albeit with a little limescale but can make water boil.

  %li
    .taken
      %h3 I've found a new home
    .thumbnail
      %img{:src=>"/images/giveaway4.jpg"}
    .details
      %h3 a Toaster
      %p I hold a magic power to make bread into toast. Nothing's wrong with me so I don't want to go to the dump :(

  %li
    .thumbnail
      %img{:src=>"/images/giveaway6.jpg"}
    .details
      %h3 Ironing Board
      %p Made of wood and flat, I make it easy for you to iron the things you need flat and without crinkles.

  %li
    .thumbnail
      %img{:src=>"/images/giveaway7.jpg"}
    .details
      %h3 Hair straightening iron
      %p You got curls? I make them straight yo.

  %li
    .thumbnail
      %img{:src=>"/images/giveaway8.jpg"}
    .details
      %h3 Canon IP4300 Printer
      %p I print things, black, white and even colour things. Give me photo paper and I'll print your memories too.

  %li
    .taken
      %h3 I've found a new home
    .thumbnail
      %img{:src=>"/images/giveaway9.jpg"}
    .details
      %h3 Pure Digital Radio
      %p I tap into the digital airwaves to play sweet sounds in a room.