!!! 5
%html
  %head
    %title Sandhu's Big Give Away
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{"property" => "og:title", "content" => "Sandhu's Big Give Away"}
    %meta{"property" => "og:url", "content" => "http://sandhusbiggiveaway.heroku.com/"}
    %meta{"property" => "og:site_name", "content" => "Sandhu's Big Give Away"}
    %meta{"property" => "og:description", "content" => "Our things need new homes for free - can you help?"}

    %link{:href => "/stylesheets/style.css", :type => "text/css", :rel => "stylesheet"}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic' rel='stylesheet' type='text/css'>

  %body
    .container
      %h1 Sandhu's Big Give Away
      .content
        = yield
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2959744-15']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();